{% for protocol in protocols %}
{% if protocol['name'] == 'bgp' %}
router bgp {{ protocol['attributes']['asn'] }}
 bgp router-id interface {{ protocol['attributes']['router_id'] }}
{% endif %}
{% endfor %}

{% for neighbor in bgpneighbors[0]['neighbors'] %}
{% if neighbor['vrf'] == "default" %}
 neighbor {{ neighbor['ipv4'] }} remote-as {{ neighbor['remote_as'] }}
 neighbor {{ neighbor['ipv4'] }} update-source Loopback0
{% endif %}
{% endfor %}
 no auto-summary

 address-family vpnv4
{% for neighbor in bgpneighbors[0]['neighbors'] %}
{% if neighbor['vrf'] == "default" %}
  neighbor {{ neighbor['ipv4'] }} activate
  neighbor {{ neighbor['ipv4'] }} send-community extended
{% endif %}
{% endfor %}
