!
{% for service in services %}
{% if service['name'] == 'ntp' and service['version'] == '0.0.1' %}
{% for server in service['servers'] %}
{% if server['prefer'] %}
ntp server {{ server['ipv4_host']}} prefer
{% else%}
ntp server  {{ server['ipv4_host']}}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
!
