!
{% for service in device_services['json']['servers'] %}
{% if service['prefer'] %}
ntp server {{ service['ipv4_host']}} prefer
{% else%}
ntp server  {{ service['ipv4_host']}}
{% endif %}
{% endfor %}
!
