{% for device_interfaces in interfaces %}
{% for interface in device_interfaces['interfaces'] %}
interface {{ interface['name'] }}{{ interface['port'] }}
 description {{ interface['description'] }}
{% if interface['ipv4_prefix'] is not none %}
 ip address {{ interface['ipv4_prefix'] | ansible.utils.ipaddr('address') }} {{ interface['ipv4_prefix'] | ansible.utils.ipaddr('netmask') }}
{% endif %}
{% if not interface['shutdown'] %}
 no shutdown
{% else %}
 shutdown
{% endif %}
!
{% endfor %}
{% endfor %}
