{% for device_interfaces in interfaces %}
{% for interface in device_interfaces['interfaces'] %}
interface {{ interface['name'] }}{{ interface['port'] }}
 description {{ interface['description'] }}
{% include 'configlets/interfaces/core/interfaces_vrf.j2' %}
{% include 'configlets/interfaces/core/interfaces_ipaddress.j2' %}
{% if interface['description'] != "MGMT INTERFACE" and not interface['shutdown']%}
{% include 'configlets/interfaces/core/interfaces_ospf.j2' %}
{% endif %}
{% include 'configlets/interfaces/core/interfaces_status.j2' %}
!
{% endfor %}
{% endfor %}
