{% if ipv4_peerings is defined %}
{% include 'configlets/bgp/bgp_peerings_ipv4.j2' %}
{% endif %}
{% if vpnv4_peerings is defined %}
{% include 'configlets/bgp/bgp_peerings_vpnv4.j2' %}
{% endif %}
{% if ipv4_vrf_peerings is defined %}
{% include 'configlets/bgp/bgp_peerings_ipv4_vrf.j2' %}
{% endif %}
