{% for peering in ipv4_peerings %}
{% set peer_ip = peering['peer_ip'] | ansible.utils.ipaddr('address') %}
{% if peering['local'] == inventory_hostname %}
  neighbor {{ peer_ip }} remote-as {{ peering['peer_asn'] }}
  neighbor {{ peer_ip }} description {{ peering['description'] }}
  neighbor {{ peer_ip }} allowas-in
{% endif %}
{% endfor %}
!
