!
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
!
hostname {{ inventory_hostname }}
!
boot-start-marker
boot-end-marker
!
!
!
no aaa new-model
!
{% if attributes['vrfs'] is defined %}
{% include 'configlets/vrf/vrf.j2' %}
{% endif %}
!
!
!
!
username admin privilege 15 secret admin
!
!
!
!
!
!
!
multilink bundle-name authenticated
!
!
!
!
!
redundancy
!
!
!
!
!
!
!
!
!
{% for interface in attributes['interfaces'] %}
interface {{ interface['name'] }}
{% include 'configlets/interfaces/description.j2' %}
{% if interface['vrf'] %}
  ip vrf forwarding {{ interface['vrf']['name'] }}
{% endif %}
{% if interface['ip_addresses'] | length > 0 %}
{% include 'configlets/interfaces/ip_address.j2' %}
{% endif %}

{% if interface['cf_mpls'] is defined or interface['cf_ospf'] is defined %}
{% include 'configlets/interfaces/custom_fields.j2' %}
{% endif %}
{% if interface['enabled'] %}
  no shutdown
{% endif %}
!
{% endfor %}
!
!
{% if attributes['bgp_routing_instances'] is defined %}
{% include 'configlets/bgp/bgp.j2' %}
{% endif %}
!
{% if attributes['config_context']['ospf'] is defined %}
{% include 'configlets/ospf/ospf.j2' %}
{% endif %}
!
ip forward-protocol nd
!
!
!
no ip http server
no ip http secure-server
ip scp server enable
!
!
{% if attributes['config_context']['ntp'] is defined %}
{% include 'configlets/services/ntp.j2' %}
{% endif %}
!
control-plane
!
!
end
