!
{% for protocol in protocols %}
{% if protocol['name'] == 'bgp' and protocol['version'] == '0.0.1' and protocol['scope'] == 'edge' %}
router bgp {{ protocol['attributes']['asn'] }}
 bgp router-id {{ protocol['attributes']['router_id'] }}
{% if log_neighbor_changes is defined and log_neighbor_changes %}
 bgp log-neighbor-changes
{% endif %}
 bgp confederation identifier 16534
{% endif %}
{% endfor %}
!


{#
 network 192.168.5.0
 neighbor RR-iBGP peer-group
 neighbor RR-iBGP remote-as 64515
 neighbor RR-iBGP update-source Loopback0
 neighbor 10.5.0.3 peer-group RR-iBGP
 neighbor 10.5.0.4 peer-group RR-iBGP  #}
