!
router bgp {{ device_protocols['json']['attributes']['asn'] }}
 bgp router-id interface {{ device_protocols['json']['attributes']['router_id'] }}
{% if log_neighbor_changes is defined and log_neighbor_changes %}
 bgp log-neighbor-changes
{% endif %}
{% if inventory_hostname == 'edge01' %}
 neighbor 10.10.0.2 remote-as {{ device_protocols['json']['attributes']['asn'] }}
 network 1.1.1.1 mask 255.255.255.255
{% else %}
 neighbor 10.10.0.1 remote-as {{ device_protocols['json']['attributes']['asn'] }}
 network 1.1.1.2 mask 255.255.255.255
{% endif %}
