{% for protocol in protocols %}
{% if protocol['name'] == 'bgp' %}
router bgp {{ protocol['attributes']['asn'] }}
 bgp router-id interface {{ protocol['attributes']['router_id'] }}
{% endif %}
{% endfor %}
