{% for protocol in protocols %}
{% if protocol['name'] == 'ospf' %}
router ospf {{ protocol['attributes']['process_id'] }}
{% for device_interfaces in interfaces %}
{% for interface in device_interfaces['interfaces'] %}
{% if interface['name'] == "Loopback" %}
 router-id {{ interface['ipv4_prefix'] | ansible.utils.ipaddr('address') }}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
{% endfor %}
