!
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
!
hostname {{ inventory_hostname }}
!
boot-start-marker
boot-end-marker
!
!
!
no aaa new-model
!
!
{#{% if attributes['vrfs'] is not none %}
{% include 'configlets/vrfs/core/vrfs.j2' %}
{% endif %}#}
!
!
!
username admin privilege 15 secret admin
!
!
!
!
!
!
!
multilink bundle-name authenticated
!
!
!
!
!
redundancy
!
!
!
!
!
!
!
!
!
!
!
!
{% include 'configlets/interfaces/core/interfaces.j2' %}
!
{#{% if attributes['bgp_neighbors'] is not none %}
{% include 'configlets/protocols/core/bgp.j2' %}
{% endif %}#}
!
{% include 'configlets/protocols/core/ospf.j2' %}
!
!
!
ip forward-protocol nd
!
!
!
no ip http server
no ip http secure-server
ip scp server enable
!
!
{% include 'configlets/services/ntp.j2' %}
!
control-plane
!
{% include 'configlets/base/vty.j2' %}
!
end
