! Config file for a {{ attributes['vendor'] | upper }} {{ attributes['model'] | upper }} with Network OS: {{ attributes['os'] | split('.') | last | upper }}
!
hostname {{ inventory_hostname }}
!
!
interface Gi0
 description MGMT interface for {{ inventory_hostname }}
 ip address {{ attributes['ipv4_host'] | ansible.utils.ipaddr('address') }} {{ attributes['ipv4_host'] | ansible.utils.ipaddr('netmask') }}
 no shutdown
!
!
{% for location in locations %}
{% if location['site'] in attributes['hostname'] %}
router bgp {{ location['bgp_asn'] }}
 bgp router-id {{ attributes['ipv4_host'] | ansible.utils.ipaddr('address') }}
!
{% endif %}
{% endfor %}
