{% for protocol in device_protocols['results'] %}
{% if protocol['json']['name'] == 'ospf' %}
router ospf {{ protocol['json']['attributes']['process_id'] }}
{% for interface in device_interfaces['json']['interfaces'] %}
{% if  interface['name'] == "Loopback" %}
 router-id {{ interface['ipv4_prefix'] | ansible.utils.ipaddr('address') }}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
 prefix-suppression
!
