!
{% if bgp['bgp_routing_instances'][0] is defined %}
router bgp {{ bgp['bgp_routing_instances'][0]['autonomous_system']['asn'] }}
{% if role.name in ['branch:edge:router'] %}
{% for prefix in location['prefixes'] %}
 network {{ prefix['prefix'] | ansible.utils.ipaddr('network') }} mask {{ prefix['prefix'] | ansible.utils.ipaddr('netmask') }}
{% endfor %}
{% endif %}
{% for peering in bgp['bgp_peerings'] %}
{% for neighbor in peering['endpoints'] %}
{% if not inventory_hostname in neighbor['peer']['routing_instance']['device']['name'] %}
 neighbor {{ neighbor['peer']['source_ip']['address'] | ansible.utils.ipaddr('address') }} remote-as {{ neighbor['peer']['routing_instance']['autonomous_system']['asn'] }}
 neighbor {{ neighbor['peer']['source_ip']['address'] | ansible.utils.ipaddr('address') }} description {{ neighbor['peer']['routing_instance']['device']['name'] | upper }}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
