!
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
!
hostname {{ inventory_hostname }}
!
boot-start-marker
boot-end-marker
!
!
!
no aaa new-model
!
!
!
mmi polling-interval 60
no mmi auto-configure
no mmi pvc
mmi snmp-timeout 180
!
!
!
!
!
!
!
!
!
!
!
no ip domain lookup
ip multicast-routing
ip cef
no ipv6 cef
!
multilink bundle-name authenticated
!
!
!
!
!
redundancy
!
!
!
!
!
!
!
!
!
!
!
!
{% include 'configlets/interfaces/interfaces.j2' %}
!
!
!
!
{% include 'configlets/protocols/ospf.j2' %}
!
{% include 'configlets/protocols/bgp.j2' %}
!
ip forward-protocol nd
!
{% include 'configlets/acls/mgmt.j2' %}

{% include 'configlets/acls/snmp_80.j2' %}

{% include 'configlets/acls/snmp_81.j2' %}

{% include 'configlets/services/ntp.j2' %}
!
no ip http server
no ip http secure-server
!
ipv6 ioam timestamp
!
!
!
control-plane
!
{% include 'configlets/base/banner.j2' %}
!
{% include 'configlets/base/vty.j2' %}
!
no scheduler allocate
!
end
