!
{% for interface in interfaces %}
{% if interface['mgmt_only'] %}
interface {{ interface['name'] }}
{% if ("switch" in role.name) %}
  no switchport
{% endif %}
  description {{ interface['cpf_auto_description'] }}
{% if interface['ip_addresses'] | length > 0 %}
  ip address {{ interface['ip_addresses'][0]['address'] | ansible.utils.ipaddr('address') }} {{ interface['ip_addresses'][0]['address'] | ansible.utils.ipaddr('netmask') }}
{% endif %}
  no shutdown
!
{% endif %}
{% endfor %}
